:root {
  --main-border: black 5px solid;
  --element-border: black 1px solid;
  --section-margin: 50px;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: blanchedalmond;
}

/* Class for header container - to create flexbox container */
.header-container {
  border: var(--main-border);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 80px;
}

/* Class for 'Imogen Coughlin' to separate from rest of menu */
.header-name {
  font-family: Franklin Gothic Medium;
  }

/* Class for items within header menu - within the flexbox */
.header-menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

 /* Trying to make the items in the menu align so will create a separate flexbox for them below */
/* container of flexbox = header menu */

.header-menu h2 {
  border: inset 2px solid;
  padding: 5px;
}

.hero-banner {
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  column-gap: 50px;
  margin: var(--section-margin);
}
.hero-banner h2 {
  display: block;

}
.image {
  max-height: 300px;
  max-width: 300px;
}

/* container for Work, About and Contact
/* .page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  margin: 20px;
  margin: var(--section-margin);
  border: var(--main-border);
}  */

/* container for all work blocks */
/* .work-container {
  display: grid;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  margin: var(--section-margin);
  border: var(--main-border);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "title title title title"
    "work-item-1 work-item-2 work-item-3 work-item-4"
    "work-item 1 work-item-2 work-item-3 work-item-4"
    "";
}

#work-title {
  grid-area: "title";
}

#work-item-1 {
  grid-area: "work-item-1";
}



#horiseon-landing-page, .loading-page {
  max-width: 300px;
  max-height: 250px;
}


.image-link {
  text-align: end;
}

/* .about-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: var(--main-border);

} */

/* flexbox for about and contact */
/* .about-container, .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--section-margin);
  border: var(--main-border);
}  */

.footer {
  margin: 0px;
  border: var(--main-border);
  text-align: center;
  position: static;
  min-height: 80px;
}

/* starting the grid again */

