:root {
  --main-border: black 5px solid;
  --element-border: black 1px solid;
  --section-margin: 50px;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: blanchedalmond;
}

/* Class for header container - to create flexbox container */
.header-container {
  border: var(--main-border);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 80px;
}

/* Class for 'Imogen Coughlin' to separate from rest of menu */
.header-name {
  font-family: Franklin Gothic Medium;
}

/* Class for items within header menu - within the flexbox */
.header-menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

 /* Trying to make the items in the menu align so will create a separate flexbox for them below */
/* container of flexbox = header menu */

.header-menu h2 {
  border: inset 2px solid;
  padding: 5px;
}

.hero-banner {
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  column-gap: 50px;
  margin: var(--section-margin);
}
.hero-banner h2 {
  display: block;

}
#pic {
  max-width: 300px;
  max-height: 300px;
}

.page-wrapper {
  display: grid;
  grid-template-row: 2fr 1fr;
  grid-template-column: 2fr 1fr;
  grid-template-areas: 
    "work work about"
    "work work contact";
    justify-content: space-around;
    margin: 20px;
    border: var(--main-border);
    margin: var(--section-margin);
}
.work-container {
  display: flex;
  justify-content: space-between;
  border: var(--main-border);
}

/* adding borders to the containers to see where they are */
.work-item-1, .about-container, .contact-container{
  display: inline-block;
  border: var(--element-border);
}

.page-wrapper h2 {
  font-family: ;
}

#horiseon-landing-page {
  max-width: 300px;
  max-height: 250px;
}

.footer {
  margin: 0px;
  border: black 5px solid;
  text-align: center;
  position: static;
  min-height: 80px;
}